@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure about delete this? This will be removed permanently.</h3>


<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Email)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.BaseSalary)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back</a>
    </form>
</div>